/* global start */

* {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}


ul{
    list-style: none;
}

.active{
    color: #ff6700;
    /* text-decoration: underline; */
    font-weight: bold;
}

body{
    overflow-x: hidden;
}

/* global ends */

/* navbar starts*/

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.nav-link{
    display: flex;
    align-items: center;

}

.nav-link li{
    margin: 0 30px;
}

/* navbar ends */

header{
    width: 100vw;
    height: 100vh;
    background-image: url('header-bg.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* color: white; */
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;

}

.line{
    width: 150px;
    height: 4px;
    background: #ff6700;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.menu-btn{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 35px;
    cursor: pointer;
    display: none;
}

.ctn{
    color: black;
    padding: 8px 15px;
    background: #ff6700;
    border-radius: 30px;
    /* color: whitesmoke; */
}


/* events starts */

section{
    width: 80%;
    margin: 80px auto;
    color: #7c7c7c;
}

.title{
    text-align: center;
    font-size: 4vmin;

}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.row .col{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 80%; */
}

.event .row{
    margin-top: 50px;

}

h4{
    font-size: 3vmmin;
    color: #484872;
    margin: 20px auto;
}


p{
    color: #7c7c7c;
    padding: 0px 40px;
    text-align: center;
}

.event .ctn{
    margin-top: 30px;
}
/* Events Ends */

/* Explore Starts */

.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.explore-content{
    width: 60%;
    padding: 50px;    
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1{
    font-size: 7vmin;
    /* margin: 50px; */
}

.explore-content .line{
    margin-bottom: 50px;
}

.explore-content p{
    color: rgb(221, 221, 221);
}

.explore-content .ctn{
    margin-top: 40px;
}

p{
    color: black;
    padding: 0px 40px;
    text-align: center;
}
/* Explore Ends */

/* tours start */

.content-col{
    width: 40%;
}

.image-col{
    width: 60%;
}

.tours .row .col{
    width: 50%;
}

.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img{
    max-width: 250px;
    margin: 10px;
}

.content-col h1{
    font-size: 7vmin;
    color: #7c7c7c;
}

.content-col .line{
    margin-left: -1px;
}

.content-col p{
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn{
    margin-left: -100px;
}

/* tours end */

/* Footer start */

    .footer{
        width: 100%;
        min-height: 100px;
        padding: 20px 80px ;
        margin: 0;
        background-color: #484872;
        text-align: center;
    }

    .footer p{
        color: whitesmoke;
        margin: 20px auto;
        padding: 20px auto;
    }

/* Footer Ends */

/* Mobile Device */

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }

    .navbar{
        padding: 0;
    }

    .logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-link li{
        margin: 30px auto;
    }

    /* events start */

    .row{
        flex-direction: column;
    }

    .row .col{
        margin: 20px auto;
    }

    .col img{
        max-width: 90%;
    }

    /* events ends */

    /* explore start */

    .explore-content{
        width: 100%;
    }

    /* explore ends */

    /* tours start */
    .tours .col{
        width: 100%;
    }

    .image-gallery{
        justify-content: center;
        align-items: center;
    }

    .image-gallery img{
        width: 90%;
    }

    /* tours ends */

    /* footer start */
    
    .footer{
        padding: 10px;
    }

    /* footer ends */
}


/* Amimations */

img{
    transition: transform .3s ease;
}

img:hover{
    transform: scale(1.1);
}

.ctn:hover{
    background: whitesmoke;
    color: black;
    box-shadow: 2px 2px 5px #00000056;
}


li:hover{
    color: #ff6700;
    cursor: pointer;

}
